@import "../../../../styles/variables/dimensions-variables";
@import "../../../../styles/mixins";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  line-height: $header-height;
  @include default-backdrop;
  text-align: center;
  padding: 0 15px 0 30px;
  transition: background-color 0.3s;
}

.profile-photo {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: url(../../../../assets/img/user.png);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

:host /deep/ .theme-toggle {
}
