@import "../../../../styles/variables/dimensions-variables";
@import "../../../../styles/mixins";

.header {
  position: relative;
  height: $header-height;
  line-height: $header-height;
  @include default-backdrop;
  text-align: right;
  padding-right: 15px;
  transition: background-color 0.3s;
}

.profile-photo {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-top: 7px;
  border-radius: 50%;
  background-image: url(../../../../assets/img/user.png);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
