<a routerLink="{{navigateItem.link}}"
   [routerLinkActive]=activeIndicator
   [routerLinkActiveOptions]="{exact:true}"
   [@shakeItem]=state
   (click)="onNavItemClick($event)"
   (@shakeItem.done)="shakeEnd()"
   class="navigate-link">
  <span class="navigate-text">
    {{ navigateItem.title }}
  </span>

  <ng-lottie class="navigate-icon"
             [options]="lottieConfig"
             width="22px"
             height="22px"
             (animationCreated)="handleIconAnimation($event)"></ng-lottie>
</a>
