@import "./../../../../styles/color-variables";
@import "./../../../../styles/dimensions-variables";

.navigate-link {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: $black;
  text-decoration: none;
  transition: opacity .3s, background-color .2s;
  &._active {
    background-color: $grey-2;
  }

  &:hover {
    opacity: 0.8;
  }
}

.navigate-icon {
}
