@import "../../../../styles/variables/color-variables";
@import "../../../../styles/variables/dimensions-variables";

$navigate-color: $white;

.navigate-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin: 6px 5px;
  padding-right: 20px;
  padding-left: 55px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  text-decoration: none;
  outline: none;
  transition: opacity .3s,
              background-color .3s,
              padding-right 0.3s,
              padding-left 0.1s;
  &._active {
    background-color: rgba(0, 0, 0, 0.32);
  }

  &:hover {
    opacity: 0.8;
  }
}

.navigate-text {
  color: $navigate-color;
  text-transform: uppercase;
  font-weight: 700;
  transition: opacity 0.3s,
              font-size 0.2s;
}

:host /deep/  {
  path {
    stroke: $navigate-color;
  }
}

:host-context(.left-bar._closed) {
  .navigate-link {
    padding-right: 8px;
    padding-left: 0;
  }

  .navigate-text {
    opacity: 0;
    font-size: 0;
  }
}
