<a routerLink="{{navigateItem.link}}"
   [routerLinkActive]=activeIndicator
   [routerLinkActiveOptions]="{exact:true}"
   [@shakeItem]=state
   (click)="onNavItemClick($event)"
   (@shakeItem.done)="shakeEnd()"
   class="navigate-link">
  <span class="navigate-text">
    {{ navigateItem.title }}
  </span>
<!--  <i class="fas {{navigateItem.icon}} navigate-icon"></i>-->
  <lottie-animation-view class="navigate-icon"
                         [options]="lottieConfig"
                         [width]="22"
                         [height]="22"
                         (animCreated)="handleIconAnimation($event)">
  </lottie-animation-view>
</a>
