<header class="toolbox">
  June 2020
</header>

<div>
  <table class="calendar">
    <thead>
    <tr>
      <th>Mo</th>
      <th>Tu</th>
      <th>We</th>
      <th>Th</th>
      <th>Fr</th>
      <th>Sa</th>
      <th>Su</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <span class="date">1</span>
      </td>
      <td>
        <span class="date">2</span>
      </td>
      <td>
        <span class="date">3</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="date">4</span>
      </td>
      <td>
        <span class="date">5</span>
      </td>
      <td>
        <span class="date">6</span>
      </td>
      <td>
        <span class="date">7</span>
      </td>
      <td>
        <span class="date">8</span>
      </td>
      <td>
        <span class="date">9</span>
      </td>
      <td>
        <span class="date">10</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="date">11</span>
      </td>
      <td>
        <span class="date">12</span>
      </td>
      <td>
                                        <span class="main-event">
                                            <img src="images/manchester-unated.jpg" alt="">
                                        </span>
        <span class="date">13</span>
      </td>
      <td>
        <span class="date">14</span>
      </td>
      <td>
        <span class="date">15</span>
      </td>
      <td>
        <span class="date">16</span>
      </td>
      <td>
        <span class="date">17</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="date">18</span>
      </td>
      <td>
        <span class="date">19</span>
      </td>
      <td>
        <span class="date">20</span>
      </td>
      <td>
        <span class="date">21</span>
      </td>
      <td>
        <span class="date">22</span>
      </td>
      <td>
        <span class="date">23</span>
      </td>
      <td>
        <span class="main-event">
            <img src="images/box.png" alt="">
        </span>
        <span class="date">24</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="date">25</span>
      </td>
      <td>
        <span class="date">26</span>
      </td>
      <td>
        <span class="date">27</span>
      </td>
      <td>
        <span class="date">28</span>
      </td>
      <td>
        <span class="date">29</span>
      </td>
      <td>
        <span class="main-event">
            <img src="images/ufc.jpg" alt="">
        </span>
        <span class="date">30</span>
      </td>
      <td>
        <span class="date">31</span>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
