<ul class="events">
  <li *ngFor="let event of eventsList"
      class="event">
    <div class="event_header"
         [ngClass]="setIndicatorClass(event.type, true)">
      <span class="event_icon">
        <app-svg [svgId]="setIndicatorClass(event.type)"></app-svg>
      </span>
    </div>

    <div class="event_body">
      <div>
        {{ event.title }}
      </div>

      <div>
        {{ event.date }}
      </div>

      <div>
        {{ event.time }}
      </div>
    </div>
  </li>

  <li *ngFor="let event of eventsList"
      class="event">
    <div class="event_header _boxing">
      <span class="event_icon">
        <app-svg [svgId]="'boxing'"></app-svg>
      </span>
    </div>

    <div class="event_body">
      <div>
        XXXX
      </div>

      <div>
        XXXX
      </div>

      <div>
        XXX
      </div>
    </div>
  </li>

  <li class="event">
    <div class="event_header _ufc">
      <span class="event_icon">
        <app-svg [svgId]="'ufc'"></app-svg>
      </span>
    </div>

    <div class="event_body">
      <div>
        XXXX
      </div>

      <div>
        XXXX
      </div>

      <div>
        XXXX
      </div>
    </div>
  </li>
</ul>
