@import "../../../styles/variables/color-variables";
@import "../../../styles/variables/dimensions-variables";

$layout-toggle-btn-size: 40px;
$layout-toggle-btn-margin: 5px;
$layout-toggle-active-indicator-offset: calc(#{-$header-height} / 2 + #{$layout-toggle-btn-size} / 2);

.layout-toggle {
  position: relative;
  display: flex;
  &:before {
    content: '';
    position: absolute;
    top: $layout-toggle-active-indicator-offset;
    bottom: $layout-toggle-active-indicator-offset;
    left: $layout-toggle-btn-margin;
    display: block;
    width: $layout-toggle-btn-size;
    border-bottom: 2px solid $white;
    transition: left 0.15s ease-in;
  }

  &._reversed {
    &:before {
      left: calc(#{$layout-toggle-btn-margin}*3 + #{$layout-toggle-btn-size});
    }
  }
}

.layout-toggle__btn {
  $layout-column-emulator: 3px solid cornsilk;
  $layout-content-emulator: 18px solid rgba(211, 211, 211, 0.4);

  width: $layout-toggle-btn-size;
  height: $layout-toggle-btn-size;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 $layout-toggle-btn-margin;
  border-radius: 6px;
  font-size: 0;
  cursor: pointer;
  transition: box-shadow 0.3s,
              background-color 0.3s;
  &:before {
    content: '';
    display: inline-block;
    width: 26px;
    height: 38px;
    transition: height 0.3s;
  }

  &._left:before {
    border-right: $layout-content-emulator;
    border-left: $layout-column-emulator;
  }

  &._right:before {
    border-right: $layout-column-emulator;
    border-left: $layout-content-emulator;
  }

  &._disabled {
    pointer-events: none;
    &:before {
      height: 30px;
    }
  }
}
