<div [ngClass]="{
        'main-container': true,
        'theme-day': currentTheme,
        'theme-night': !currentTheme
      }">
  <aside class="left-bar"
         [ngClass]="isLeftBarOpened ? '_opened' : '_closed'">
    <div class="toggle-block"
         (click)="toggleLeftBar()">
      <app-logo></app-logo>
    </div>

    <app-navigate-menu></app-navigate-menu>
  </aside>

  <div class="content-wrapper">
    <app-header></app-header>

    <div class="variable-layout"
         [ngClass]="{'_reverse' : !currentLayout}">
      <div class="moving-panel">
        <app-upcoming-events></app-upcoming-events>
      </div>

      <div class="main-card-wrapper">
        <div class="main-card">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
