<div class="main-container">
  <aside class="left-bar"
         [ngClass]="toggleStatus ? '_opened' : '_closed'">
    <div class="toggle-block"
         (click)="toggleLeftBar()">
      <span class="logo"></span>
    </div>

    <app-navigate-menu></app-navigate-menu>
  </aside>

  <div class="content">
    <app-header></app-header>

    <div class="app-content">
<!--      <div class="events-line">-->
<!--        fff-->
<!--      </div>-->
      <div class="main-card-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
