@import "../styles/variables/color-variables";
@import "../styles/variables/dimensions-variables";
@import "../styles/themes";
@import "../styles/mixins";

.main-container {
  display: flex;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.toggle-block {
  position: relative;
  width: 100%;
  height: $header-height;
  background-color: var(--left-bar-toggle-bg-color);
  cursor: pointer;
}

.left-bar {
  @include default-backdrop;
  z-index: 1;
  transition: min-width 0.3s,
              width 0.3s;

  &._opened {
    width: 200px;
    min-width: 200px;
  }

  &._closed {
    width: 50px;
    min-width: 50px;
  }
}

.content-wrapper {
  width: 100%;
  .navigate-link {
    font-size: 0;
  }
}

.variable-layout {
  position: relative;
  display: flex;
  flex-direction: row;
  height: calc(100vh - #{$header-height});
  padding: $container-padding;
  &._reverse {
    flex-direction: row-reverse;
    .main-card-wrapper {
      padding-right: $container-padding;
      padding-left: 0;
    }

    .moving-panel {
      animation-name: collapseHistoryRight;
      animation-duration: 0.3s;
    }
  }

  .moving-panel {
    animation-name: collapseHistoryLeft;
    animation-duration: 0.3s;
  }
}

.moving-panel {
  width: $moving-panel-width;
  min-width: $moving-panel-width;
  @include card;
  overflow-x: hidden;
  transition: min-width 0.3s,
              width 0.3s;
}

.main-card-wrapper {
  width: 100%;
  padding: 40px 0 0 $container-padding;
}

.main-card {
  height: 100%;
  @include card;
}

@keyframes collapseHistoryLeft {
  from {width: 0; min-width: 0; opacity: 0}
  to {width: 200px; min-width: 200px; opacity: 1}
}

@keyframes collapseHistoryRight {
  from {width: 0; min-width: 0; opacity: 0}
  to {width: 200px; min-width: 200px; opacity: 1}
}
