@import "styles/reset";
@import "styles/variables/color-variables";
@import "styles/variables/dimensions-variables";
@import "styles/mixins";

body {
  height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #343434;
}

* {
  box-sizing: border-box;
}
